//        primary
$color-primary-white:#fff;
$color-primary-black:#000;
//   secondary
$color-secondary-4A:#D87D4A;
$color-secondary-10:#101010;
$color-secondary-F1:#F1F1F1;
$color-secondary-FA:#FAFAFA;
$color-secondary-85:#FBAF85;

$border-radius:.8rem;


