.Bitmap{
    background-color:#0E0E0E;
     color: $color-primary-white;
    
     z-index: 1;
     .Bitmap-body{
         padding-top:12.8rem ;
         padding-bottom: 15.8rem; 
         background-image: url(../images/Bitmap.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right 0 top 0 ;
        
    }
    &__title{
        padding-top: 9.7rem;
    padding-bottom: 9.8rem;
    }
     
}