.feature{
    justify-content: space-between;
    margin-top: 16rem;
    margin-bottom: 16rem;
    &__left{
        flex-basis: 63.5rem;
        
    }
    &__heading{
        margin-bottom: 3.2rem;
        opacity: 1;
    }
    &__text{
        opacity: .5;
        &--span{
            opacity: 1;
            color: $color-secondary-4A;
            margin-left: 2.4rem;
        }
    }
    &__item{
        margin-right: 2.4rem;
    }
}