.btn{   
    padding: 1.5rem 3rem 1.5rem 3.2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    &--orange{
        background-color: $color-secondary-4A;
        color: $color-primary-white;
        &:hover{
            background-color: #FBAF85;
        }
    }
    &--black{
        background-color: $color-primary-black;
        color: $color-primary-white;
        &:hover{
            background-color: transparent;
            color: $color-primary-black;
            border: 1px solid $color-primary-black;
            
        }
    }
    &--transparent{
        border: 1px solid $color-primary-black;
        color: $color-primary-black;
        &:hover{
            background-color: $color-primary-black;
            color: $color-primary-white;
        }
    }

}