
.headphones{
    &__XX99{
        position: absolute;
        top: 6.5rem;
        left: 9.4rem;
    }
    &__XX99mark1{
        position: absolute;
        top: 6.6rem;
        left: 12.1rem;
    }
    &__XX59{
        position: absolute;
        top: 8.3rem;
        left: 8.3rem;
    }
    &--cards{
        margin-top: 16rem;
    }
    &--listiner{
        margin-top: 16rem;
        margin-bottom: 16rem;
    }
}

