.speakers{
    &__ZX9{
        position: absolute;
        top: 9.6rem;
        left: 12.4rem;
    }
    &__ZX7{
        position: absolute;
        top: 8rem;
        left: 13.5rem;
    }
    &--cards{
        margin-top: 16rem;
    }
    &--listiner{
        margin-top: 16rem;
        margin-bottom: 16rem;
    }
}